---
interface Props {
    title: string;
    direction: string;
    img: string;
}

const { title, direction, img }: Props = Astro.props;
---

<a href={direction} class="w-auto h-auto">
    <div class="flex items-center pt-2">
        <div class="logo overflow-hidden p-5 grid items-center">
            <!-- Logos -->
            <img src={img} alt="Your Image" />
        </div>
        <div class="text flex items-center pl-10">
            <!-- Titulo y descripción -->
            <h1 class="font-bold">{title}</h1>
        </div>
    </div>
</a>

<style>
    :root {
        --color: #f6a900;
        --color-secondary: #db9600;
        --redondeado: 15px;
    }

    .logo {
        width: 100px;
        height: 100px;
        background-color: var(--color);
        border-radius: var(--redondeado);
        z-index: 5;
    }

    .text {
        width: 100%;
        height: 60px;
        background-color: var(--color-secondary);
        border-radius: 30px;
        transform: translateX(-25px);
        font-size: 1.1rem;
    }
</style>
