<div class="ContentGeneral grid gap-4">
    <picture class="image p-2">
        <img src="public/img/Admin/userAvatar.png" alt="avatar" />
    </picture>
</div>

<style>

    .image {
        width: 8rem;
        height: auto;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

        & img {
            width: 100%;
            height: auto;
            border-radius: 100%;
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
        }
    }
</style>
