---
import Layout from '../layouts/Layout.astro';
import Carrusel from '../components/index/Carrusel.astro';
import NServicios from '../components/index/NServicios.astro';
import Nosotros from '../components/index/Nosotros.astro';
import Beneficios from '../components/index/Beneficios.astro';
import CDA from '../components/index/CDA.astro';
---

<Layout title="CDA">
	<main>
		<Carrusel />
		<NServicios /> 
		<Nosotros />
		<Beneficios />
		<CDA /> 
	</main>
</Layout>

<style>

</style>