---
import Layout from '../layouts/Layout.astro';
import Carrusel from '../components/index/Carrusel.astro';
import NServicios from '../components/index/NServicios.astro';
---

<Layout title="CDA">
	<main>
		<Carrusel />
		<NServicios />
	</main>
</Layout>

<style>

</style>