<section >
    <!-- <img class="" src="./../../public/img/1.jpg" alt="" /> -->
    <img
        src="https://placehold.co/1055x734"
        alt="Car Exhibition"
        class="absolute w-full h-full object-cover"
    />
</section>

<style></style>
