<section id="4">
    <article class="benefits">
        <h1>Nuestros Beneficios</h1>
        <div class="benefit">
            <img
                src="public/img/hands-mechanic-using-diagnostic-tool.jpg"
                alt="Beneficio 1"
            />
            <div class="benefit-text">
                <h3>Soporte Tecnico</h3>
                <p>
                    En nuestro <strong>CDA,</strong> ofrecemos soporte técnico eficiente
                    y accesible a través de un ChatBot inteligente disponible 24/7
                    para responder preguntas frecuentes sobre nuestros servicios.
                    Si necesitas más ayuda, puedes comunicarte directamente con un
                    asesor mediante chat en vivo, llamada telefónica o correo electrónico.
                    Nuestro equipo está aquí para ayudarte con todas tus dudas de
                    manera rápida y profesional.
                </p>
                <button>Ver mas</button>
            </div>
        </div>
    </article>
    <article class="benefits1">
        <div class="benefit2">
            <div class="benefit2-text">
                <h3>Control de citas</h3>
                <p>
                    Nuestra aplicación te ofrece un área específica para
                    gestionar tus citas de manera conveniente. Podrás cancelar o
                    reprogramar tus citas fácilmente, asegurando que puedas
                    ajustar tus compromisos según tus necesidades. Este sistema
                    flexible te permite mantener el control total de tus visitas
                    a nuestro CDA, haciendo que el proceso sea más cómodo y
                    adaptado a tu horario.
                </p>
                <button>Ver mas</button>
            </div>
            <img src="public/img/compra-carro.jpg" alt="Beneficio 2" />
        </div>
    </article>
</section>

<!-- CSS -->
<style>
    .benefits {
        text-align: center;
        padding: 50px 20px;
        background-color: rgb(232, 232, 232);
    }

    .benefits h1 {
        color: #ffa500;
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 70px;
    }

    .benefit {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .benefit img {
        width: 335px;
        height: 270px;
        margin-right: 25px;
        border: 5.5px solid #ffa500;
        transition: 1.3s;
        border-radius: 15px;
    }

    .benefit img:hover {
        transform: scale(1.1);
        transition: 1.3s;
    }

    .benefit-text {
        max-width: 500px;
        text-align: left;
    }

    .benefit h3 {
        color: #ffa500;
        font-size: 1.6em;
        margin: 0 0 10px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .benefit p {
        color: #555;
        line-height: 1.6;
    }

    .benefit button {
        background-color: #ffa500;
        color: #fff;
        border: none;
        padding: 15px 20px;
        cursor: pointer;
        font-size: 1em;
        border-radius: 5px;
        margin-top: 10px;
    }

    .benefit button:hover {
        background-color: #e69500;
    }

    .benefit button:active {
        transform: scale(0.9);
    }
    /**/
    .benefits1 {
        text-align: center;
        padding: 50px 20px;
        background-color: rgb(232, 232, 232);
    }

    .benefits1 h2 {
        color: #ffa500;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .benefit2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .benefit2 img {
        width: 335px;
        height: 270px;
        margin-left: 25px;
        border: 5.5px solid #ffa500;
        transition: 1.3s;
        border-radius: 15px;
    }

    .benefit2 img:hover {
        transform: scale(1.1);
        transition: 1.3s;
    }

    .benefit2-text {
        max-width: 500px;
        text-align: left;
    }

    .benefit2 h3 {
        color: #ffa500;
        font-size: 1.6em;
        margin: 0 0 10px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .benefit2 p {
        color: #555;
        line-height: 1.6;
    }

    .benefit2 button {
        background-color: #ffa500;
        color: #fff;
        border: none;
        padding: 15px 20px;
        cursor: pointer;
        font-size: 1em;
        border-radius: 5px;
        margin-top: 10px;
    }

    .benefit2 button:hover {
        background-color: #e69500;
    }
    .benefit2 button:active {
        transform: scale(0.9);
    }
</style>
