<section >
    <!-- <img class="" src="./../../public/1.jpg" alt="" /> -->
    <!-- src="https://placehold.co/1055x734" -->
    <img
        src="./../../public/1.jpg"
        alt="Car Exhibition"
        class="absolute w-full h-full object-cover"
    />
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-25"></div>
    <div class="absolute inset-0 flex items-center justify-center"> <!-- Text sobre carrucel -->
        <h1 class="text-white text-4xl">Lorem ipsum<h1/>
    </div>
</section>

<style>
    section {
        height: 100vh;
    }
    .absolute {
        position: absolute;
        top: 0;
        left: 0;
    }
    .object-cover {
        object-fit: cover;
    }
</style>
