<section class="Content">
    <div>
        <h2>Sobre Nosotros</h2>
        <div class="Info">
            <p>
                Somos un CDA que ofrece servicios de alta calidad certificados con
                los mas altos estandares
            </p>
        </div>
       <a class="botton" href="#">Empezar</a>
       <a class="botton2" href="#">Leer más</a>

    </div>
    <div>
        
    </div>
</section>

<style></style>
