<section class="flex justify-center items-center flex-col" id="2">
    <h1>Nuestros Servicios</h1>
    <div class="container flex flex-wrap justify-center items-center gap-8">
        <div>
            <div class="ContenedorImg">
                <img src="./../../public/index/1.webp" alt="Service 1" />
            </div>
            <p>Lorem</p>
        </div>
        <div>
            <img src="https://placehold.co/300x200" alt="Service 2" />
            <div>
                <p>Lorem</p>
            </div>
        </div>
        <div>
            <img src="https://placehold.co/300x200" alt="Service 3" />
            <div>
                <p>Lorem</p>
            </div>
        </div>
        <button id="moreButton">Más</button>
    </div>
</section>

<style>
    section {
        height: auto;
        margin: 100px 0;
        width: 100%;
        text-align: center;

        & h1 {
            font-size: 2rem;
            margin-bottom: 5rem;
            font-weight: bold;
            pointer-events: none;
        }
    }

    .container div {
        width: 300px;
        height: auto;
        & p {
            position: absolute;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    .contenedorImg {
        width: 500px;
        }
    
</style>
