<section>
    <h1>Nuestrs Servicios</h1>
    <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui earum cumque beatae natus aperiam, commodi exercitationem repellendus veritatis amet voluptatibus architecto sequi nihil quia maxime error voluptas quis est nulla?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui earum cumque beatae natus aperiam, commodi exercitationem repellendus veritatis amet voluptatibus architecto sequi nihil quia maxime error voluptas quis est nulla?</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui earum cumque beatae natus aperiam, commodi exercitationem repellendus veritatis amet voluptatibus architecto sequi nihil quia maxime error voluptas quis est nulla?</p>
    </div>
</section>

<style>
    section{
        height: auto;
        margin: 100px 0;
        width: 100%;
        text-align: center;
    }
    h1{
        margin: 50px;
        font-size: 2em;
        color: #333;
    }
    div{
        height: auto;
        margin: 50px;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 10px;
    }
</style>