---
interface Props {
	// El título de la página
	title: string;
	// El tipo de padding, puede ser 'normal' o 'custom'
	padding: "normal" | "custom";
}
// Importamos los componentes Header
import Header from "../components/Header.astro";
import Header2 from "../components/Header2.astro";

// Exportamos las props
const { title, padding } = Astro.props;
// Definimos el padding normal y el custom
const paddingNormal = "0"; // normal
const paddingCustom = "0px 126.391px"; // custom
// Seleccionamos el padding en funcion de la propiedad seleccionada
const selectedPadding = padding === "normal" ? paddingNormal : paddingCustom;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Usamos la propiedad title para el título de la página -->
		<title>{title}</title>
	</head>
	<!-- Usamos la propiedad padding para el padding del body -->
	<body style={`padding: ${selectedPadding};`}>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		font-family: "Poppins", sans-serif;
		margin: 0;
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		line-height: 0;
	}
	@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
</style>
