---
// Importamos los componentes Header
import Header from "../components/Header.astro";
// Importamos los componentes Footer
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<!-- Usamos la propiedad title para el título de la página -->
		<title>CDA</title>
		<ViewTransitions />
	</head>
	<!-- Usamos la propiedad padding para el padding del body -->
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<style is:global>
			:root {
				font-family: "Poppins", sans-serif;
				margin: 0;
			}
			html {
				scroll-behavior: smooth;
			}
			body {
				line-height: 0;
			}
			@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
		</style>
	</body>
</html>
