---
import ButtonsSeccions from "../../components/admin/ButtonsSeccions.astro";
import FotoAdmin from "../../components/admin/FotoAdmin.astro";
import InfoAdmin from "../../components/admin/InfoAdmin.astro";
---

<section>
    <div class="container">
        <aside class="contentLeft">
            <ButtonsSeccions title="Registro de cliente" direction="adminRegCliente" img="public/img/Admin/Client.svg"/>
            <ButtonsSeccions title="Registro de Vehículo" direction="" img="public/img/Admin/Car.svg"/>
            <ButtonsSeccions title="Tipo de servicio" direction="" img="public/img/Admin/Servicio.svg"/>
            <ButtonsSeccions title="Tipo de pago" direction="" img="public/img/Admin/Pay.svg"/>
        </aside>

        <div class="contentRight">
            <FotoAdmin />
            <InfoAdmin name="User Admin" />
        </div>
    </div>
</section>

<style>
    :root {
        --border: 15px;
    }
    section {
        height: auto;
        display: grid;
        place-items: center;
        width: 100%;
        padding: 5rem 10rem;
    }

    .container {
        display: flex;
        width: 100%;
        background: #e8e8e8;
        padding: 2rem;
        border-radius: var(--border);
    }

    .contentLeft {
        width: 70%;
        background: #d9d9d9;
        border-radius: var(--border);
        padding: 2rem;
    }

    .contentRight {
        width: 30%;
        background: #f6a900;
        border-radius: var(--border);
        gap: 1rem;
    }
</style>
